.app {
	font-size: 11px;
	margin-left: 10px;
	margin-top: 5px;
	border: 0.5px solid rgb(166, 131, 78);
	padding-left: 10px;
	width: 450px;
	background-color: rgb(251, 229, 201);
}

.number {
	border: 1px solid rgb(166, 131, 78);
	min-width: 18px;
	max-width: 22px;
	height: 14px;
	text-align: center;
	background-color: antiquewhite;
	margin-right: 3px;
}

.deal {
	display: flex;
	height: 15px;
	margin-bottom: 5px;
}

p {
	font-size: 12px;
	border: 0.2px solid rgb(166, 131, 78);
	width: 350px;
	height: 18px;
	padding-left: 5px;
	background-color: antiquewhite;
}
